.header {
    display: flex;
    flex-direction: column;
    grid-area: header;
    border-bottom: 1px solid #F2F2F2;
    background-color:#393F4D;
    background-image: url("https://l-fids.github.io/FlexboxGridWeb/images/dark-mosaic.png");
    height: auto;
    justify-content: center;
    text-align: center;
}

/* BLOG TITLE */

.blog-title {
    margin: 2em;
}

#blog-title {
    text-decoration: none;
    color: #FEDA6A;
}

/*NAV*/

.main-nav {
    margin: 0.25em 0 2em 0;
    border-bottom: 2px solid #696969;
    border-top: 2px solid #696969;
}

.main-nav ul {
    list-style-type: none;
    text-align: center;
}

.main-nav ul li {
    display: inline-block;
    padding: 0 1.4em 0 0;
    font-weight: bold;
    font-size: 1.5em;
}

li a:active {
    color: #FFF;
    border-bottom: 2px solid #000;
    font-weight: 300;
}

li a:hover {
    color: #000;
}