@import url("header.css");
@import url("blog-card.css");
@import url("footer.css");

/*Common Elements*/
body {
    background: #FFF;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

h1 {
    font-family: 'Great Vibes', sans-serif;
    color: #FEDA6A;
    font-size: 4em;
}

h2 {
    color: #000;
    font-size: 1.7em;
    font-weight: 600;
}

h3 {
    color: #FFF;
    font-size: 0.9em;
    font-weight: bold;
    font-style: italic;
}

p {
    color: #000;
    font-size: 1.5em;
    line-height: 1.5;
}

a {
    color: #FFF;
    text-decoration: none;
}

/*Mobile First Design*/

.container {
    display: grid;
    grid-template-rows: auto, 1fr, auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* SECTION CONTAINERS */

.main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 1em;
    grid-area: main;
    background-color: #D4D4DC;
    justify-items: center;
    padding: 1em;
}

/*Media Queries*/

@media screen and (min-width: 800px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
    }

    /* HEADER */

    .main-nav {
        margin: 0 0 1em 0;
    }

    .main-nav ul li {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1024px) {
    .main {
        grid-template-columns: repeat(3, 1fr);
    }

    .blog-card-description {
        font-size: 1.2em;
    }
}

@media(min-width: 1720px) {
    .main {
        grid-template-columns: repeat(4, 1fr);
    }
}