/*Common Elements*/
body {
    background: #FFF;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

h1 {
    font-family: 'Great Vibes', sans-serif;
    color: #FEDA6A;
    font-size: 4em;
}

h2 {
    color: #000;
    font-size: 1.7em;
    font-weight: 600;
}

h3 {
    color: #FFF;
    font-size: 0.9em;
    font-weight: bold;
    font-style: italic;
}

p {
    color: #000;
    font-size: 1.5em;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

/*Mobile First Design*/

.container {
    display: grid;
    grid-template-rows: auto, 1fr, auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* SECTION CONTAINERS */
.header {
    display: flex;
    flex-direction: column;
    grid-area: header;
    border-bottom: 1px solid #F2F2F2;
    background-color:#393F4D;
    background-image: url("https://l-fids.github.io/FlexboxGridWeb/images/dark-mosaic.png");
    height: auto;
    justify-content: center;
    text-align: center;
}

.main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 1em;
    grid-area: main;
    background-color: #D4D4DC;
    justify-items: center;
    padding: 1em;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    grid-area: footer;
    background-color: #393F4D;
    border-top: 1px solid #FFF;
    padding: 2em;
}

/* HEADER */

/* logo */

.blog-title {
    margin: 2em;
}

/* nav */

.main-nav {
    margin: 0.25em 0 2em 0;
    border-bottom: 2px solid #696969;
    border-top: 2px solid #696969;
}

.main-nav ul {
    list-style-type: none;
    text-align: center;
}

.main-nav ul li {
    display: inline-block;
    padding: 0 1.4em 0 0;
    font-weight: bold;
    font-size: 1.5em;
}

.main-nav ul a {
    color: #FFF;
}

li a:active {
    color: #FFF;
    border-bottom: 2px solid #000;
    font-weight: 300;
}

li a:hover {
    color: #000;
}

/* BLOG CARD */
.blog-card {
    /* Flex Properties */
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-between;

    /* Dimensions */
    width: 90%;
    max-width: 400px;

    /* Design */
    /* border: 2px solid #feda6a; */
    border-radius: 10px;
    padding: 0 15px 15px 15px;
    background: #FFF;
    box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.75);
}

.blog-card-img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
}

.blog-card-description {
    padding: 10px;
}

.blog-card-button {
  background-color: #FFF;
  border: 2px solid #555555;
  color: #000;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.blog-card-button:hover {
    background-color: #5C5D67;
    color: #FFF;
  }

/* SOCIAL ICONS */
.fab, .fas {
    padding: 5px;
}

.social-icons a {
    color: #FFF;
}

.social-icons a:hover {
    color: #D3D3D3;
}

.social-text {
    display: inline;
    padding-right: 10px;
}

/*Media Queries*/
/*Only include the properties that differ from their main properties. Don't Repeat Yourself.*/

@media screen and (min-width: 800px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
    }

    /* HEADER */

    .main-nav {
        margin: 0 0 1em 0;
    }

    .main-nav ul li {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1024px) {
    .main {
        grid-template-columns: repeat(3, 1fr);
    }

    .blog-card-description {
        font-size: 1.2em;
    }
}

@media(min-width: 1720px) {
    .main {
        grid-template-columns: repeat(4, 1fr);
    }
}